h1 {
    border: 2px solid #FF6347;
    font-family: "Arial", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wght" 900;
    color: #8A2BE2;
}

ul {
    border-width: 3px;
    border-style: solid;
    border-color: #32CD32;
}

li {
    border-width: 1px;
    border-style: dashed;
    border-color: #FF1493;
    color: #DC143C;
}

p {
    border-radius: 8px;
    border-width: 2px;
    border-style: double;
    border-color: #FFD700;
    background-color: #F0E68C;
    color: #2F4F4F;
}

body {
    background-color: #FAEBD7;
    background-size: cover;
    background-image: url("new-background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: "Tahoma", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wght" 600;
    color: #4B0082;
}
