h1 {
    border: 2px solid mediumseagreen;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    font-variation-settings:
        "wght" 800;
    color: navy;
}

ul {
    border-width: 4px;
    border-style: dashed;
    border-color: orange;
}

li {
    border-width: 2px;
    border-style: dotted;
    border-color: teal;
    color: darkslategray;
}

p {
    border-radius: 12px;
    border-width: 3px;
    border-style: double;
    border-color: indigo;
    background-color: lavender;
    color: #333;
}

body {
    background-color: #f0f8ff; /* AliceBlue */
    background-size: cover;
    background-image: url("new-background.png"); /* Cambia el nombre si tienes otro fondo */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wght" 700;
    color: #222;
}
